

<div ng-controller="Ctrl3">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
  <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
</div>



<li class="dropdown" ng-controller="Ctrl3">
  <a class="dropdown-toggle">
    Click me for a dropdown, yo!
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat="choice in items">
      <a>{{choice}}</a>
    </li>
  </ul>
</li>

<div><button class='btn btn-primary' ng-click="getJsonpListings()">Search</button></div>


<div style="width:400px;" ng-controller="Ctrl3">
  <slider floor="100" ceiling="1000" step="50" ng-model="cost"></slider>
</div>

<div><button class='btn btn-primary' ng-click="getOneListing('52fbc290eab21c2925ad630c')">Search</button></div>