<!--Bootstrap: xs(phones), sm(tablets), md(desktops), lg(larger desktops)-->

<!-- 
<div class="row">
	<div class="col-sm-6"></div>
	
	<div class="col-sm-6">
		<div class="pull-right">
			<div class="gallery-count">Results: {{listingCount}}</div>
		</div>
	</div>
</div>
-->

<!-- 
<div class="mapContainer red">
	<div bing-map ng-model="bingmap" id="mapDiv" class="map"></div>
</div>
-->
	
<div>
	<pass-object options="options"></pass-object>
</div>

<div>
	<p ng-click="updateStuff()">UpdateStuff</p>
</div>

